<!-- Add a Form with the following Inputs (and Validators)
     1) Mail address (should not be empty and should be an email address)
     2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
        Set "Advanced" as Default
     3) A Password field (should not be empty)
     4) A Submit Button

     Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

     Upon submitting the form, you should simply print the Value of the Form to the Console.
     Optionally, display it in your template.
   -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email" [ngClass]="{ 'help-block': email.invalid && email.touched }">Email</label>
          <input id="email" name="email" type="text" class="form-control" required="" aria-describedby="error-email" ngModel email #email="ngModel">
          <div id="error-email" class="help-block" role="alert" *ngIf=" email.invalid && email.touched">Error: Required field</div>
        </div>
        <div class="form-group">
          <label for="dropdown">Select Subscription</label>
          <select id="dropdown" name="dropdown" class="form-control" [ngModel]="option" #dropdown="ngModel">
            <option *ngFor="let o of options" value="{{o.value}}">{{o.display}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password" [ngClass]="{ 'help-block': password.invalid && password.touched }">Password</label>
          <input id="password" name="password" type="password" class="form-control" required="" aria-describedby="error-password" ngModel #password="ngModel">
          <div id="error-password" class="help-block" role="alert" *ngIf=" password.invalid && password.touched">Error: Required field</div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Submit</button>        
      </form>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul>
        <li>Email: {{f.value.email}}</li>
        <li>Subscription: {{f.value.dropdown}}</li>
        <li>Password: {{f.value.password}}</li>
      </ul>
      <button class="btn btn-danger" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
